<div class="list" ng-controller='AddUserController'>		
Add a User
	<form>
	  <div class="row">
          <div class="small-11 columns">
            <input ng-model="name" type="text" placeholder="name">
          </div>
          <div class="small-1 column">
            <span ng-show="nameError" style="color:red">*</span>
          </div>
      </div>
      <div class="row">
          <div class="small-11 columns">
            <input ng-model="email" type="text" placeholder="email">
          </div>
          <div class="small-1 column">
            <span ng-show="emailError" style="color:red">*</span>
          </div>
      </div>

    <div class="text-center">
      <button ng-click="addUser()" class="button tiny info">Create User</button>
    </div>

    {{displayText}}

  </form>
</div>

