<div class="list" ng-controller='HomeController'>	
<div class="panel">	
	<h1>Jacob Waterman's MEAN Task Manager</h1>
  <h4>MP3 from UIUC's CS 498Rk - The Art and Science of Web Development</h4>
  <hr>
  <p>Feel free to explore. You can create users and assign them tasks. Then mark those tasks down as completed once they are finished. Enjoy!</p></br>
  <p>The data all comes from my own backend, the API can be seen at <a href="http://jwaterman-todo.herokuapp.com/api">http://jwaterman-todo.herokuapp.com/api</a> and the documentation for the api can be found on the <a href="https://github.com/jh2oman/mp3_server">Github page</a>.
</div>
</div>