<div class="list" ng-controller='TasksController'>
    <div class="row">
        <div class="small-8 columns"><h1>{{displayText}}</h1></div>
        <div class="small-4 columns"><a class="button" href="#/addtask">Add Task</a></div>
    </div>
    <div class="row">
        <div class="small-3 columns">
            <select ng-model="sortBy">
                <option selected="selected" value="none">Sort By</option>
                <option value="name">Name</option>
                <option value="assignedUserName">User Name</option>
                <option value="dateCreated">Date Created</option>
                <option value="deadline">Deadline</option>
            </select>
        </div>
        <div class="small-2 column">
            <input type="radio" ng-model="sortOrder" name="sort" value="1">
           <span>Asc</span>
        </div>
        <div class="small-2 column">
            <input type="radio" ng-model="sortOrder" name="sort" value="-1">
            <span>Desc</span>
        </div>
        <div class="small-3 columns"></div>
    </div>
    <div class="row">
        <div class="small-3 column">
            <input type="radio" ng-model="isCompleted" name="filter" value="2"><span>All</span>
        </div>
        <div class="small-3 column">
            <input type="radio" ng-model="isCompleted" name="filter" value="0"><span>Pending</span>
        </div>
        <div class="small-3 column">
            <input type="radio" ng-model="isCompleted" name="filter" value="1"><span>Complete</span>
        </div>
        <div class="small-3 columns"></div>
    </div>
    <ul>
        <li>
            <div class="row">
                <div class="small-4 columns"><h3>Task Name</h3></div>
                <div class="small-4 columns"><h3>Assigned User Name</h3></div>
                <div class="small-4 columns"></div>

            </div>
        </li>
        <li ng-repeat="task in tasks">
            <div class='row'>
                <div class="small-4 columns">
                    <a ng-click="getDetails(task._id)">{{task.name}}</a>
                </div>
                <div class="small-4 columns">
                    <a ng-click="getUser(task.assignedUser)">{{task.assignedUserName}}</a>
                </div>
                <div class="small-4 columns">
                    <button ng-click="deleteTask(task._id)">Delete</button>
                </div>
            </div>
        </li>
    </ul>
    <div class="row">
        <div class="small-6 columns">
            <button ng-show="skipCounter" ng-click="showPrev()">Previous</button>
        </div>
        <div class="small-6 columns">
            <button ng-hide="skipCounter" ng-click="showNext()">Next</button>
        </div>
    </div>
</div>