<div class="list" ng-controller='UserDetailsController'>
    <div class="row">
        <div class="small-6 columns"><h1>{{displayText}}</h1></div>
    </div>
    <ul>
        <h3>{{users.name}}</h3>
        <h3>{{users.email}}</h3>
    </ul>

    <ul>
        <li ng-repeat="task in tasks">
            <div class='row'>
                <div class="small-6 columns">
                    <a>{{task.name}}</a>
                </div>
                <div class="small-6 columns">
                    <button ng-click="completedTask(task._id, task)">Completed</button>
                </div>
            </div>
        </li>
    </ul>

    <ul>
        <li><button ng-click="showCompleted()">Show Completed Tasks</button></li>
        <li ng-show="showingCompleted" ng-repeat="task in completedTasks">
            <div class='row'>
                <div class="small-6 columns">
                    <a>{{task.name}}</a>
                </div>
                <div class="small-6 columns">
                    <span>This task is complete</span>
                </div>
            </div>
        </li>
    </ul>

</div>