<div class="list" ng-controller='UsersController'>
    <div class="row">
        <div class="small-6 columns"><h1>Users</h1></div>
        <div class="small-6 columns"><a class="button" href="#/adduser">Add User</a></div>
    </div>
	<ul>
		<li ng-repeat="user in users">
			<div class='row'>
                <div class="small-6 columns">
                    <a ng-click="getDetails(user._id)">{{user.name}}</a>
                </div>
                <div class="small-6 columns">
                <button ng-click="deleteUser(user._id)">Delete</button>
            </div>
            </div>
		</li>
	</ul>
</div>